In [87]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [88]:
df = pd.read_csv("Road.csv")

In [89]:
df.head()

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,...,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity
0,17:02:00,Monday,18-30,Male,Above high school,Employee,1-2yr,Automobile,Owner,Above 10yr,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Moving Backward,Slight Injury
1,17:02:00,Monday,31-50,Male,Junior high school,Employee,Above 10yr,Public (> 45 seats),Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury
2,17:02:00,Monday,18-30,Male,Junior high school,Employee,1-2yr,Lorry (41?100Q),Owner,NaN,...,Going straight,Driver or rider,Male,31-50,3,Driver,NaN,Not a Pedestrian,Changing lane to the left,Serious Injury
3,1:06:00,Sunday,18-30,Male,Junior high school,Employee,5-10yr,Public (> 45 seats),Governmental,NaN,...,Going straight,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury
4,1:06:00,Sunday,18-30,Male,Junior high school,Employee,2-5yr,NaN,Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury

In [90]:
df.shape

(12316, 32)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         12316 non-null  object
 1   Day_of_week                  12316 non-null  object
 2   Age_band_of_driver           12316 non-null  object
 3   Sex_of_driver                12316 non-null  object
 4   Educational_level            11575 non-null  object
 5   Vehicle_driver_relation      11737 non-null  object
 6   Driving_experience           11487 non-null  object
 7   Type_of_vehicle              11366 non-null  object
 8   Owner_of_vehicle             11834 non-null  object
 9   Service_year_of_vehicle      8388 non-null   object
 10  Defect_of_vehicle            7889 non-null   object
 11  Area_accident_occured        12077 non-null  object
 12  Lanes_or_Medians             11931 non-null  object
 13  Road_allignment              12174 non-null  object
 14  Types_of_Junction            11429 non-null  object
 15  Road_surface_type            12144 non-null  object
 16  Road_surface_conditions      12316 non-null  object
 17  Light_conditions             12316 non-null  object
 18  Weather_conditions           12316 non-null  object
 19  Type_of_collision            12161 non-null  object
 20  Number_of_vehicles_involved  12316 non-null  int64
 21  Number_of_casualties         12316 non-null  int64
 22  Vehicle_movement             12008 non-null  object
 23  Casualty_class               12316 non-null  object
 24  Sex_of_casualty              12316 non-null  object
 25  Age_band_of_casualty         12316 non-null  object
 26  Casualty_severity            12316 non-null  object
 27  Work_of_casuality            9118 non-null   object
 28  Fitness_of_casuality         9681 non-null   object
 29  Pedestrian_movement          12316 non-null  object
 30  Cause_of_accident            12316 non-null  object
 31  Accident_severity            12316 non-null  object
dtypes: int64(2), object(30)
memory usage: 3.0+ MB

In [92]:
df1 = df[['Age_band_of_driver','Sex_of_driver','Area_accident_occured','Road_surface_conditions','Light_conditions','Weather_conditions','Accident_severity']]

In [93]:
df1.head()

,Age_band_of_driver,Sex_of_driver,Area_accident_occured,Road_surface_conditions,Light_conditions,Weather_conditions,Accident_severity
0,18-30,Male,Residential areas,Dry,Daylight,Normal,Slight Injury
1,31-50,Male,Office areas,Dry,Daylight,Normal,Slight Injury
2,18-30,Male,Recreational areas,Dry,Daylight,Normal,Serious Injury
3,18-30,Male,Office areas,Dry,Darkness - lights lit,Normal,Slight Injury
4,18-30,Male,Industrial areas,Dry,Darkness - lights lit,Normal,Slight Injury

In [94]:
df1.isna().sum()

Age_band_of_driver           0
Sex_of_driver                0
Area_accident_occured      239
Road_surface_conditions      0
Light_conditions             0
Weather_conditions           0
Accident_severity            0
dtype: int64

In [95]:
df1.dropna(inplace=True)

/var/folders/wv/_v76914s0xb8y7w5hxdnpkc80000gn/T/ipykernel_31729/3614008390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True)

In [96]:
df1.isna().sum()

Age_band_of_driver         0
Sex_of_driver              0
Area_accident_occured      0
Road_surface_conditions    0
Light_conditions           0
Weather_conditions         0
Accident_severity          0
dtype: int64

In [97]:
df1.shape

(12077, 7)

In [98]:
valueCounts = []
valueCounts.append(df1['Age_band_of_driver'].unique())
valueCounts.append(df1['Sex_of_driver'].unique())
valueCounts.append(df1['Area_accident_occured'].unique())
valueCounts.append(df1['Road_surface_conditions'].unique())
valueCounts.append(df1['Light_conditions'].unique())
valueCounts.append(df1['Weather_conditions'].unique())
valueCounts.append(df1['Accident_severity'].unique())

In [99]:
for i in range(len(valueCounts)):
    print(valueCounts[i])

['18-30' '31-50' 'Under 18' 'Over 51' 'Unknown']
['Male' 'Female' 'Unknown']
['Residential areas' 'Office areas' '  Recreational areas'
 ' Industrial areas' 'Other' ' Church areas' '  Market areas' 'Unknown'
 'Rural village areas' ' Outside rural areas' ' Hospital areas'
 'School areas' 'Rural village areasOffice areas' 'Recreational areas']
['Dry' 'Wet or damp' 'Snow' 'Flood over 3cm. deep']
['Daylight' 'Darkness - lights lit' 'Darkness - no lighting'
 'Darkness - lights unlit']
['Normal' 'Raining' 'Raining and Windy' 'Cloudy' 'Other' 'Windy' 'Snow'
 'Unknown' 'Fog or mist']
['Slight Injury' 'Serious Injury' 'Fatal injury']

In [100]:
# Age: ['18-30' '31-50' 'Under 18' 'Over 51' 'Unknown']
# Gender: ['Male' 'Female' 'Unknown']
#Area of Accident: ['Residential areas' 'Office areas' '  Recreational areas'
#' Industrial areas' 'Other' ' Church areas' '  Market areas' 'Unknown'
 #'Rural village areas' ' Outside rural areas' ' Hospital areas'
 #'School areas' 'Rural village areasOffice areas' 'Recreational areas']
#Road Condition : ['Dry' 'Wet or damp' 'Snow' 'Flood over 3cm. deep']
#Light Condition: ['Daylight' 'Darkness - lights lit' 'Darkness - no lighting'
 #'Darkness - lights unlit']
#Weather Condition: ['Normal' 'Raining' 'Raining and Windy' 'Cloudy' 'Other' 'Windy' 'Snow'
 #'Unknown' 'Fog or mist']
#Accident Severity: ['Slight Injury' 'Serious Injury' 'Fatal injury']

In [101]:
df2 = df1.replace('Unknown', np.nan)

In [102]:
df2.isna().sum()

Age_band_of_driver         1513
Sex_of_driver               172
Area_accident_occured        22
Road_surface_conditions       0
Light_conditions              0
Weather_conditions          279
Accident_severity             0
dtype: int64

In [103]:
df2.dropna(inplace=True)

In [104]:
df2.shape

(10192, 7)

In [105]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
label_encoder = LabelEncoder()
ordinal_encoder = OrdinalEncoder()

In [106]:
df1 = df1.rename(columns={'Age_band_of_driver':'Age','Sex_of_driver':'Gender','Area_accident_occured':'Area','Road_surface_conditions':'Road_Condition','Light_conditions':'Light_Condition','Weather_conditions':'Weather_Condition','Accident_severity':'Severity'})

In [107]:
df1.head()

,Age,Gender,Area,Road_Condition,Light_Condition,Weather_Condition,Severity
0,18-30,Male,Residential areas,Dry,Daylight,Normal,Slight Injury
1,31-50,Male,Office areas,Dry,Daylight,Normal,Slight Injury
2,18-30,Male,Recreational areas,Dry,Daylight,Normal,Serious Injury
3,18-30,Male,Office areas,Dry,Darkness - lights lit,Normal,Slight Injury
4,18-30,Male,Industrial areas,Dry,Darkness - lights lit,Normal,Slight Injury

In [108]:
df1['Area'] = df1['Area'].str.strip()

In [109]:
print(df1['Area'].unique())

['Residential areas' 'Office areas' 'Recreational areas'
 'Industrial areas' 'Other' 'Church areas' 'Market areas' 'Unknown'
 'Rural village areas' 'Outside rural areas' 'Hospital areas'
 'School areas' 'Rural village areasOffice areas']

In [110]:
df1['Area'] = df1['Area'].replace('Rural village areasOffice areas','Rural village areas')

In [111]:
print(df1['Area'].unique())

['Residential areas' 'Office areas' 'Recreational areas'
 'Industrial areas' 'Other' 'Church areas' 'Market areas' 'Unknown'
 'Rural village areas' 'Outside rural areas' 'Hospital areas'
 'School areas']

In [112]:
#Ordinal Encoder
df1['Age'] = ordinal_encoder.fit_transform(df1[['Age']])
df1['Road_Condition'] = ordinal_encoder.fit_transform(df1[['Road_Condition']])
df1['Light_Condition'] = ordinal_encoder.fit_transform(df1[['Light_Condition']])
df1['Severity'] = ordinal_encoder.fit_transform(df1[['Severity']])

In [113]:
#Label Encoder
df1['Gender'] = label_encoder.fit_transform(df1['Gender'])
df1['Weather_Condition'] = label_encoder.fit_transform(df1['Weather_Condition'])

In [114]:
#One Hot Encoding
dummies = pd.get_dummies(df1.Area)
dummies = dummies.astype(int)
dummies

,Church areas,Hospital areas,Industrial areas,Market areas,Office areas,Other,Outside rural areas,Recreational areas,Residential areas,Rural village areas,School areas,Unknown
0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
12311,0,0,0,0,0,0,1,0,0,0,0,0
12312,0,0,0,0,0,0,1,0,0,0,0,0
12313,0,0,0,0,0,0,1,0,0,0,0,0
12314,0,0,0,0,1,0,0,0,0,0,0,0
12315,0,0,0,0,0,0,1,0,0,0,0,0

In [115]:
df1 = pd.concat([df1, dummies], axis='columns')
df1.head(3)

,Age,Gender,Area,Road_Condition,Light_Condition,Weather_Condition,Severity,Church areas,Hospital areas,Industrial areas,Market areas,Office areas,Other,Outside rural areas,Recreational areas,Residential areas,Rural village areas,School areas,Unknown
0,0.0,1,Residential areas,0.0,3.0,2,2.0,0,0,0,0,0,0,0,0,1,0,0,0
1,1.0,1,Office areas,0.0,3.0,2,2.0,0,0,0,0,1,0,0,0,0,0,0,0
2,0.0,1,Recreational areas,0.0,3.0,2,1.0,0,0,0,0,0,0,0,1,0,0,0,0

In [118]:
df1.drop(['Area'],axis=1, inplace=True)

In [119]:
df1.head()

,Age,Gender,Road_Condition,Light_Condition,Weather_Condition,Severity,Church areas,Hospital areas,Industrial areas,Market areas,Office areas,Other,Outside rural areas,Recreational areas,Residential areas,Rural village areas,School areas,Unknown
0,0.0,1,0.0,3.0,2,2.0,0,0,0,0,0,0,0,0,1,0,0,0
1,1.0,1,0.0,3.0,2,2.0,0,0,0,0,1,0,0,0,0,0,0,0
2,0.0,1,0.0,3.0,2,1.0,0,0,0,0,0,0,0,1,0,0,0,0
3,0.0,1,0.0,0.0,2,2.0,0,0,0,0,1,0,0,0,0,0,0,0
4,0.0,1,0.0,0.0,2,2.0,0,0,1,0,0,0,0,0,0,0,0,0

In [120]:
df1.to_csv('RoadProcessed.csv', index=False, encoding='utf-8')